
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Balsamiq Sans', cursive;
}

body {
  background-color: #fff;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
}

.left-block,
.right-block {
  display: flex;
  font-size: 30px;
}

.right-block li {
  padding: 0 20px 0 0;
}

h4 {
  font-weight: bold;
}

/* comments section-Start */

/* pics & attributes-Start */

.pop-up {
  width: 500px;
  height: 550px;
  margin: auto;
  overflow-y: scroll;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  z-index: 2;
  border: 2px black solid;
  padding: 0 40px;
}

#poke-img {
  max-width: 50%;
  margin: 20px;
  align-self: center;
}

#poke-name {
  text-align: center;
  font-size: 30px;
}

.poke-attributes {
  margin: 20px 0;
}

.poke-attributes li {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

/* pics & attributes-end */

/* Add comment-start */

form {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

form input,
textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid black;
  resize: none;
}

#submit-comment {
  cursor: pointer;
  padding: 5px 10px;
  font-size: 20px;
  background-color: white;
}

/* Add comment-end */

/* comments section-End */

/* ------------- Tufahel --------- */

.items-count {
  color: blue;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 100px 50px 100px 50px;
}

.grid-item {
  border: 0.5px solid rgba(0, 0, 0, 0.8);
  padding: 15px;
  font-size: 30px;
  text-align: center;
}

img {
  width: 50%;
  cursor: pointer;
}

.header-content {
  display: flex;
  justify-content: space-around;
}

.like-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.fa-heart {
  font-size: 50px;
  color: rgb(172, 3, 107);
  cursor: pointer;
}

.btn-cmnt {
  padding: 10px;
  font-size: 25px;
  background-color: rgb(78, 74, 116);
  color: white;
  border: none;
  width: 150px;
  margin-top: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: auto auto;
    margin: 100px 0 100px 0;
  }
}

/* ----------------       ----------- */
